.title-container {
  margin-bottom: 100px;
}

.title-name {
  font-family: "Geologica", sans-serif;
  font-size: 50px;
  color: goldenrod;
  margin-left: 400px;
}

.quick {
  font-family: "Nunito Sans", sans-serif;
  color: rgb(209, 206, 206);
  font-size: 25px;
  margin-left: 460px;
  margin-top: 20px;
}
